$small-screen: 768px;
.sidebar {
  flex: 1;
  min-height: 100vh;
  background-color: rgb(243, 244, 246);
  a,
  span {
    text-decoration: none;
    color: #888;
  }
  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: rgb(111, 118, 186);
    }
  }
  hr {
    height: 0;
    border: 0.5px solid #c9c6c6;
  }
  .center {
    padding-left: 10px;
    padding-right: 10px;

    .action {
      margin: 0;
      padding: 0;
      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }
      .item {
        border-radius: 10px;
        padding: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &.active,
        &:hover {
          background-color: #ece8ff;
        }
        .icon {
          width: 30px;
          font-size: 20px;
          color: #7451f8;
        }
        span {
          font-size: 13px;
          font-weight: 600;

          margin-left: 10px;
        }
      }
      .item-list {
        padding: 5px 0;
        .accordion {
          border-radius: 10px;
          align-items: center;
          border: none;
          margin: 0;
          padding: 5px;
          background-color: unset;
          display: flex;
          width: 100%;
          position: relative;
          .arrow-icon {
            position: absolute;
            right: 0;
            height: 20px;
            width: 20px;
          }

          &:hover {
            background-color: #ece8ff;
          }
          &.active {
            background-color: #ece8ff;
            .arrow-icon {
              transform: rotate(90deg);
              position: absolute;
              right: 0;
              height: 20px;
              width: 20px;
            }
          }
          .icon {
            width: 30px;
            font-size: 20px;
            color: #7451f8;
          }
          span {
            font-size: 13px;
            font-weight: 600;

            margin-left: 10px;
          }
        }
        .panel {
          display: none;
          overflow: hidden;
          background-color: rgb(231, 236, 241);
          border-radius: 5px;
          .panel-item {
            margin: 5px;
            padding: 5px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
            &.active,
            &:hover {
              background-color: #85d0e3;
            }
            .icon {
              width: 30px;
              font-size: 20px;
              color: #7451f8;
            }
            span {
              font-size: 13px;
              font-weight: 600;

              margin-left: 10px;
            }
          }
          &.active {
            display: block;
          }
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;
    .colorOption {
      margin: 5px;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
@media (max-width: $small-screen) {
  .sidebar {
    width: 50px;
    flex: unset;
    .center {
      .item,
      .item-list {
        span {
          display: none;
        }
        .arrow-icon {
          display: none;
        }
      }
    }
    .bottom {
      flex-direction: column;
    }
  }
}
