@use "base";

.header {
  position: sticky;
  top: 0;
  height: 100px;
  background-color: rgb(22, 22, 22);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: lightgray;
  font-size: 26px;
  font-weight: bold;
  z-index: 1;
  .logo {
    display: flex;
    align-items: center;
    .logoIcon {
      margin-left: 20px;
      font-size: 50px;
      margin-right: 10px;
    }
  }
  .list {
    .menuList {
      display: flex;
      list-style: none;
      padding: 10px;
      .menuListTitle {
        display: none;
      }
      li {
        cursor: pointer;
        margin: 0 20px;
        font-size: 18px;
        transition: 0.5s;
        a {
          text-decoration: none;
          color: unset;
        }
        &:hover {
          color: red;
          scale: 1.4;
        }
      }
      .icon {
        display: none;
      }
    }
    .menuUser {
      display: none;
    }
  }
  .menuToggle {
    display: none;
  }
  .items {
    display: flex;
    align-items: center;
    .item {
      padding: 20px 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 30px;
      transition: 0.5s;
      position: relative;
      .search {
        position: relative;
        display: flex;
        justify-items: center;
        input {
          position: absolute;
          width: 0;
          height: 0;
          font-size: 16px;
          border: none;
          outline: none;
          border-radius: 5px;
          transition: width 0.5s ease 0s;
        }
        &:hover {
          input {
            width: 180px;
            height: 100%;
            right: 0;
          }
          .icon {
            z-index: 3;
          }
        }
      }
      &:hover {
        color: red;
      }
      &:nth-child(2) {
        .user {
          width: 80px;
          position: absolute;
          height: 100px;
          background-color: lightgray;
          display: flex;
          flex-direction: column;
          justify-content: center;
          top: 50px;
          right: -20px;
          border-radius: 5px;
          box-shadow: 5px 5px 15px 1px #474646ba;
          display: none;
          z-index: 1;
          .action {
            font-size: 16px;
            padding: 10px 5px;

            color: #555;
            a {
              text-decoration: none;
              display: block;
            }
          }
        }
        &:hover {
          .user {
            display: flex;
            .action {
              &:hover {
                background-color: #333;
              }
            }
          }
        }
      }
      .icon {
        font-style: 20px;
      }
      .counter {
        font-size: 18px;
        width: 20px;
        height: 20px;
        color: red;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: -5px;
      }
    }
  }
}
@media (max-width: base.$small-screen) {
  .header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 6;
    display: flex;
    .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      .logoIcon {
        font-size: 26px;
        margin-right: unset;
        margin-left: unset;
      }
    }
    .list {
      position: fixed;
      background-color: #ffffff4b;
      color: #333;
      z-index: 9999;
      left: 0;
      top: 0;
      height: 100%;
      width: 80%;
      backdrop-filter: blur(10px);
      display: flex;
      transition: 0.5s;
      transform: translate(-100%);
      &.active {
        transform: translate(0);
      }
      .menuList {
        display: flex;
        flex-direction: column;
        width: 40%;
        .menuListTitle {
          display: flex;
          align-items: center;
        }

        li {
          font-size: 16px;
          padding: 10px;
          &:hover {
            scale: unset;
          }
        }
        .icon {
          position: absolute;
          top: 20px;
          right: 20px;
          width: 30px;
          height: 30px;
          display: block;
        }
      }
      .menuUser {
        padding: 10px;
        display: flex;
        flex-direction: column;
        span {
          display: flex;
          align-items: center;
        }
        .action {
          padding: 10px;
          margin: 0 20px;
          font-size: 16px;
          a {
            text-decoration: none;
          }
        }
      }
    }
    .menuToggle {
      cursor: pointer;
      position: absolute;
      left: 20px;
      width: 50px;
      display: block;
    }
    .items {
      position: absolute;
      right: 20px;
      .item {
        margin-right: unset;
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
