@use "base";

.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  .title {
    background-color: base.$background-item;
    width: 100%;
    height: 150px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: base.$text-color;
      font-size: 36px;
      font-weight: bold;
    }
  }
  form {
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    .titleForm {
      border-bottom: 1px solid gray;
      margin-bottom: 20px;
      font-weight: bold;
      text-align: center;
      span {
        color: base.$text-color;
      }
    }
    .form-input {
      width: 50%;
      margin-bottom: 15px;
      input {
        background-color: base.$background-item;
        height: 35px;
        margin-top: 15px;
        width: 100%;
        padding: 5px 0;
        border: none;
        &:focus {
          outline: none;
        }
      }
      span {
        color: red;
        font-size: 13px;
      }
    }
    .submit {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;
      span {
        padding-bottom: 20px;
      }
      button {
        width: 150px;
        height: 40px;
        background-color: base.$color-button;
        border: none;
        color: white;
        transition: background-color 0.5s;
        &:hover {
          background-color: base.$hover-button;
        }
      }
    }
  }
}
@media (max-width: base.$small-screen) {
  // .login {
  //   position: absolute;
  //   margin-top: 100px;
  // }
}
