@use "base";

.productItem {
  margin: 20px;
  overflow: hidden;
  position: relative;
  border: 0.1px solid #88888871;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .image {
    overflow: hidden;
    width: 100%;
    height: 80%;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.25s ease;
    }
  }
  .action {
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    transform: translateX(100%);
    transition: all 0.25s ease;
    .wishList,
    .addToCart,
    .selectOption {
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      position: relative;
      cursor: pointer;
      font-size: 26px;
      padding: 5px;
      margin: 10px;
      border-radius: 50%;
      background-color: #fff;
      .des {
        text-align: center;
        display: none;
        position: absolute;
        margin: 10px;
        padding: 5px;
        font-size: 13px;
        background-color: #000;
        color: white;
        left: 0;
        top: 0;
        width: 100px;
        border-radius: 5px;
      }
      &:hover {
        background-color: orange;
        .des {
          display: block;
          transform: translateX(-110%);
        }
      }
      &.active {
        background-color: red;
      }
    }
  }
  &:hover {
    .action {
      transform: translateX(0);
    }
    img {
      transform: scale(1.2);
    }
  }
  .product_item_content {
    margin: 10px;
    .itemRating {
      color: yellow;
      padding: 5px;
      display: flex;
    }
    .itemTitle {
      color: #888;
      font-size: 18px;
      font-weight: bold;
      padding: 5px;
      &:hover {
        color: red;
      }
    }
    .itemPrice {
      padding: 5px;
      .price_on_sale {
        color: red;
        font-weight: bold;
      }
      .price_max {
        color: #333;
        font-size: 13px;
        text-decoration: line-through;
      }
    }
  }
}
