.sidebarCat {
  .itemCat {
    overflow: hidden;
    .itemTitle {
      margin: 15px 0;
      position: relative;
      width: 100%;
      border-left: 2px solid black;
      padding: 6px 0 6px 14px;
      .item-header {
        display: inline-block;
        font-size: 24px;
        padding-right: 14px;
        cursor: pointer;
      }
      &::after {
        content: "";
        border-bottom: 1px solid #e6e6e6;
        width: 100%;
        position: absolute;
        top: 50%;
      }
    }
    .item-content {
      padding-top: 15px;
      padding-left: 0;
      li {
        margin-bottom: 1rem;
        color: #666;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          color: #fe7250;
        }
      }
    }
  }
}
