.home {
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
  background-color: #f3f4f6;
  .top {
    background: #fff;
    font-weight: 500;
    display: flex;
    margin-bottom: 15px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    .title {
      display: flex;
      width: 50%;
      align-items: center;
    }
  }
  .body {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 2%;
    .item {
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      background: #fff;
      border-radius: 10px;
      .headerItem {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .actionView {
          text-decoration: none;
          background-color: #fff;
          border: 0.5px solid #888;
          border-radius: 5px;
          color: #888;
          padding: 5px;
          cursor: pointer;
          &:hover {
            background-color: #3b82f6;
            color: #fff;
          }
        }
      }
      .number {
        font-size: 26px;
        font-weight: bold;
      }
      &:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      &:nth-child(6) {
        grid-column-start: 1;
        grid-column-end: 3;
        border-radius: 5px;

        table {
          max-height: 400px;
          width: 100%;
          max-width: 100%;
          border-collapse: collapse;
          .cellWithImg {
            display: flex;
            align-items: center;
            .cellImg {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              object-fit: cover;
              margin-right: 20px;
            }
          }
          .cellWithRole {
            text-align: center;
            .admin {
              border-radius: 5px;
              padding: 5px;
              background-color: rgb(0, 128, 0, 0.05);
              color: green;
            }
            .user {
              padding: 5px;
              border-radius: 5px;
              background-color: rgb(0, 128, 0, 0.05);
              color: blue;
            }
          }
          th,
          td {
            border-bottom: 0.5px solid #888;
            text-align: center;
          }
          tr {
            &:last-child {
              td {
                border: none;
              }
            }
          }

          .action {
            position: relative;
            .editBtn {
              padding: 3px;
              border-radius: 5px;
              color: darkblue;
              border: 0.5px dotted rgb(0, 0, 139, 0.596);
              cursor: pointer;
              &:hover {
                background-color: rgb(10, 195, 121);
                color: lightblue;
              }
            }
            .deleteBtn {
              padding: 3px;

              background-color: aliceblue;
              border-radius: 5px;
              color: crimson;
              border: 0.5px dotted rgba(214, 49, 80, 0.596);
              cursor: pointer;
              &:hover {
                background-color: crimson;
                color: lightblue;
              }
            }
          }
        }
      }
      &:last-child {
        table {
          max-height: 400px;
          width: 100%;
          max-width: 100%;
          border-collapse: collapse;
          .cellWithImg {
            display: flex;
            align-items: center;
            .cellImg {
              width: 35px;
              height: 35px;
              border-radius: 5px;
              object-fit: cover;
              margin-right: 20px;
            }
          }
          th,
          td {
            border-bottom: 0.5px solid #888;
            text-align: center;
          }
          tr {
            &:last-child {
              td {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
