.postItem {
  display: grid;
  grid-template-columns: 29% 69%;
  gap: 2%;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  margin: 10px;
  height: 200px;
  .left {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  .right {
    margin: 10px;
    max-height: 100%;
    .headerPost {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      .titlePost {
        p {
          font-size: 24px;
          font-weight: bold;
        }
      }
      .infoPost {
        display: flex;
        flex-direction: column;
      }
    }
    .contentPost {
      .description {
        font-weight: bold;
      }
      .content {
        height: 50px;
        overflow: hidden;
      }
    }
    .action {
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 15px;
      position: relative;
      .editButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: darkblue;
        border: 1px dotted rgb(0, 0, 139, 0.596);
        cursor: pointer;
        &:hover {
          background-color: rgb(10, 195, 121);
          color: lightblue;
        }
      }
      .deleteButton {
        background-color: aliceblue;
        padding: 2px 5px;
        border-radius: 5px;
        color: crimson;
        border: 1px dotted rgba(214, 49, 80, 0.596);
        cursor: pointer;
        &:hover {
          background-color: crimson;
          color: lightblue;
        }
      }
    }
  }
}
