$small-screen: 768px;
.container-images {
  display: none;
  text-align: right;
  .action-upload {
    margin-top: 10px;
    .actionUpload__accept {
      margin: 5px;
      padding: 5px;
      cursor: pointer;
      color: rgb(52, 146, 253);
      border-radius: 5px;
      border: 0.1px solid rgb(52, 146, 253);
    }
    .actionUpload__cancel {
      margin: 5px;
      padding: 5px;
      cursor: pointer;
      color: rgb(247, 74, 74);
      border-radius: 5px;
      border: 0.1px solid rgb(247, 74, 74);
    }
  }
  .lib-images {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 5px;
    background: #fff;
    .hide-images {
      filter: blur(2px);
    }
    .image-item {
      padding: 10px;
      transition: all 0.3s ease-in;
      img {
        border-radius: 5px;

        width: 100%;
        height: 100%;
        object-fit: cover;
        box-sizing: border-box;
        transition: all 0.3s ease-out;

        &.hide-images {
          filter: blur(3px);
        }
      }
      &.active {
        filter: brightness(110%);
        filter: drop-shadow(3px 5px 5px #000);
      }
    }
  }
  &.active {
    display: block;
  }
}
@media (max-width: $small-screen) {
  .lib-images {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px;
  }
}
