.upload-img {
  position: relative;
  .icon-upload {
    width: 100%;
    height: 100%;
  }
  .img-upload {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
  }
}
