.new{
    width: 100%;
    flex: 6;
    .top, .bottom{
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
        padding: 10px;
        margin: 20px;
        display: flex;
        h1{
            color:lightgray;
            font-size: 20px;
            margin: auto;
        }
        .back{
            display: flex;
            align-items: center;
            margin-right: 50px;
            background-color: #c07373;
            border-radius: 10px;
            cursor: pointer;
            padding: 5px;
            box-shadow: 2px 4px 10px 1px rgba(97, 96, 96, 0.47);

            &:hover{
            background-color: #9d3e61;

            }
            span{
            color:rgb(220, 218, 218);
            }
         .icon{       
                    font-size: 25px;
                    color: rgba(115, 30, 42, 0.627);
                } 
            } 
        .left {
            flex:1;
            text-align: center;
            position: relative;
                       
            .imageUpload{
                width: 200px;
                height: 200px;
                top: 0;
                left: 157px;
                position: absolute;
                opacity: 0;
                z-index: 99;
                cursor: pointer; 
                border-radius: 50%;
            }
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
            }

            
        }
        .right{
            flex: 2;
            form{
                justify-content: space-around;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                .formInput{
                    width: 40%;
                    input{
                        width: 100%;
                        padding: 5px;
                        border:none;
                        border-bottom: 1px solid gray
                        ;
                    }
                    span{
                        color: red;
                        font-size: 13px;
                    }

                }
                button{
                    width: 150px;
                    padding: 10px;
                    border: none;
                    background-color: teal;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    margin-top: 10px;
                    border-radius: 5px;
                }
            }
        }
    }
}